<template>
  <div class="header">
    <div class="header-container">
      <div class="header-container__links">
        <nuxt-link class="header-container__links-container__link" to="/">
          Главная
        </nuxt-link>
        <nuxt-link class="header-container__links-container__link" to="posts">
          Посты
        </nuxt-link>
        <nuxt-link class="header-container__links-container__link" to="users">
          Пользователи
        </nuxt-link>
      </div>
      <div class="header-container__buttons-container">
        <div class="header-container__buttons-container__button">
          <nuxt-link class="header-container__buttons-container__button-link" to="auth/login">
            Войти
          </nuxt-link>
        </div>
        <div class="header-container__buttons-container__button">
          <nuxt-link class="header-container__buttons-container__button-link" to="auth/register">
            Зарегистрироваться
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({})
export default class AppHeader extends mixins(TypedStoreMixin) {}
</script>
<style lang="scss">
.header {
  height: 80px;
  display: flex;
  background-color: #0a9161;
  box-shadow: rgba(200, 200, 200, 0.6) 0 5px 10px 5px;

  &-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links-container {
      justify-content: space-between;

      &__link {
        padding: 1rem 2rem;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 600;
        color: #fff;

        &:hover {
          background-color: #0aa671;
        }
      }
    }

    &__buttons-container {
      display: flex;
      justify-content: space-between;

      &__button {
        padding: 1rem 0;
        background-color: #fff;
        border: #269fab 1px solid;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &-link {
          padding: 1rem 2rem;
          text-decoration: none;
          font-size: 1.25rem;
          font-weight: 600;
          color: #0a9161;
        }

        &:hover {
          background-color: #269fab;
          transform: translate(1px, -1px);
          box-shadow: rgba(100, 100, 100, 0.6) -2px 2px 2px 1px;
        }

        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}
</style>
