<template>
  <div class="post">
    <div class="title">
      {{ post.title }}
    </div>
    <div class="body">
      {{ post.body }}
    </div>
  </div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import { Prop } from 'vue-property-decorator'
import { PostType } from '~/logic/posts/types'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({})
export default class Post extends mixins(TypedStoreMixin) {
  @Prop({
    required: true
  })
  /**
   * Post componentis used to represent a single post
   */
  readonly post!: PostType
}
</script>

<style scoped lang="scss">
.post {
  padding: 10px;

  .title {
    font-weight: bold;
    font-size: 2rem;
  }

  .body {
    font-size: 1rem;
  }
}
</style>
