<template>
  <div class="page">
    <div
      v-if="typedStore.posts.hasPosts"
      class="container"
    >
      <post
        v-for="post in typedStore.posts.posts"
        :key="post.id"
        :post="post"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Post from '@/components/Post.vue'

import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '@/mixins/typed-store'
import { Store } from 'vuex'
import { useStore } from 'vuex-simple'
import { StateType } from '~/logic/types'
import { RawPostType } from '~/logic/posts/models'
import TypedStore from '~/logic/store'

@Component({
  components: {
    Post
  }
})
export default class Index extends mixins(TypedStoreMixin) {
  fetch ({ store }: { store: Store<StateType> }): Promise<RawPostType[]> {
    const typedStore = useStore<TypedStore>(store)

    return typedStore.posts.fetchPosts()
  }
}
</script>

<style lang="scss">
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
</style>
