<template>
  <div>
    <AppHeader />
    <div>
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import AppHeader from '@/components/AppHeader.vue'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({
  components: {
    AppHeader
  }
})
export default class DefaultLayout extends mixins(TypedStoreMixin) {}
</script>
